[user]
	name = Jacob Niehus
	email = jacob.niehus@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = vimpager
[alias]
	st = status
	ci = commit -v
	di = difftool -y
	co = checkout -- .
	new = log HEAD..origin --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --stat
	up = pull origin master
	url = config --get remote.origin.url
	uurl = config --get remote.upstream.url
	amend = commit --amend --no-edit
	ls = ls-files
	printbranch = rev-parse --abbrev-ref HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	drymerge = merge --no-commit --no-ff
	dc = mergetool --tool diffconflicts
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[diff]
	tool = vimdiff
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[merge]
	tool = diffconflicts
	conflictstyle = diff3
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[status]
	submodulesummary = true
[include]
	path = ~/.gitconfig_local
[difftool "vimdiff"]
	cmd = vim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"
