# Show auto complete options on first tab press
set bell-style none
set input-meta on
set output-meta on
set convert-meta off
set keymap vi
set editing-mode vi
"\C-w": backward-kill-word
"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-q": redraw-current-line
"\C-x": "\C-e\C-u\C-q"
"\C-b": beginning-of-line
"\C-e": end-of-line
"\C-^": "\C-e()\C-m"
"\C-l": clear-screen
"\C-a": "filter\(lambda x: "
"@:": "\C-p\C-m"
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\C-]": complete
"\C-i": menu-complete
"\e[Z": menu-complete-backward
set keymap vi-command
"\C-q": redraw-current-line
"\C-k": kill-whole-line
"\C-x": "\C-k\C-qi"
"\C-^": "A()\C-m"
"\C-l": clear-screen
"@:": "\C-p\C-m"
set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
set completion-query-items 0
set page-completions off
