[submodule "vimfiles/bundle/LaTeX-Box"]
	path = vimfiles/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
	branch = master
[submodule "misc/fzf"]
	path = misc/fzf
	url = https://github.com/wilywampa/fzf.git
[submodule "misc/python/neovim-remote"]
	path = misc/python/neovim-remote
	url = https://github.com/mhinz/neovim-remote.git
[submodule "vimfiles/bundle/neomake"]
	path = vimfiles/bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vimfiles/bundle/vim-man"]
	path = vimfiles/bundle/vim-man
	url = https://github.com/vim-utils/vim-man.git
[submodule "vimfiles/bundle/manatee"]
	path = vimfiles/bundle/manatee
	url = https://github.com/vim-utils/vim-man.git
[submodule "vimfiles/bundle/--name"]
	path = vimfiles/bundle/--name
	url = https://github.com/vim-utils/vim-man.git
